[Unit]
Description=MacPro trashcan fan controller
After=sysinit.target

[Service]
Type=simple
ExecStart=/usr/sbin/oscar
ExecReload=/usr/bin/kill -HUP $MAINPID
PIDFile=/run/oscar.pid
Restart=always
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=sysinit.target
